*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--NAVIGATION BAR--*/
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration:none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #C06EE9;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://toppng.com/uploads/preview/code-text-programming-letters-symbols-11569818411fpnugmoo1n.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  background-attachment: fixed;
}
.sub-header h1{
  margin-top:30px;
  font-size: 42px;
}
/*--END--*/

/*--NAVIGATION BAR FORUM--*/
header{
  margin-inline: 10px;
  margin: 20px;
  margin-top: 0;
  padding: 20px;
}
.navbar{
  display:flex;
  align-items: center;
}
.navigation{
  background-color: #52057b;
  padding: 10px;
  width: 65%;
  display: inline-block;
  border-radius: 5px;
  margin-right: 10px;
}
.nav-list{
  list-style-type: none;
  overflow: hidden;
}
.nav-item a{
  float: right;
  display: block;
  text-align: left;
  margin-inline: 20px;
  font-size: 20px;
  padding:10px;
  color: #fff;
}
.nav-item a::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-item a:hover::after{
  width: 100%;
}
.close-icon{
  font-size: 32px;
  float:left;
  cursor: pointer;
  color: #99A3A4;
}
.hide{
  display: none;
}
.bar-icon{
  font-size: 60px;
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
}
.bar-icon i{
  color: #99A3A4;
}
.brand{
  font-size: 60px;
  display: inline-block;
}
/*--END--*/

/*--SEARCHBOX--*/
.search-box{
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-basis: 44%;
  border-radius: 10px;
  background: #E9C9F6;
  cursor: pointer;
  display: flex;
  position: absolute;
}
.search-box select{
  padding: 10px;
  border-radius: 10px;
}
.search-box button{
  padding: 10px;
  color: #0000000;
  background: #fff;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.search-box button :hover{
  background-color: #0000000;
  color: #F71AAA;
  transition: 0.3s;
  box-shadow:100% #0000000;
}
.search-box input{
  padding: 10px;
  border-radius: 10px;
}
/*--END--*/
html{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(0, 0, 0);
  color: #FEFEFE;
}

/*--FORUM--*/
a{
  color: #E7A6EF;
  font-weight: bolder;
  text-decoration: none;
}
.subforum-title{
  font-size: 16px;
  font-weight: bold;
  background-color: #292B2E;
  border-radius: 5px;
  padding:5px;
  margin: 4px;
}
.container{
  margin: 20px;
  padding: 20px;
}
.subforum{
  margin-top: 20px;
}
.subforum-row{
  display: grid;
  grid-template-columns: 7% 60% 13% 20%;
}
.subforum-column{
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  background-color: #111314;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.subforum-icon i{
  font-size: 45px;
}
.subforum-description *{
  margin-block: 0;
}
/*--END--*/

/*--FORUM BUT U GOT A SMALL SCREEN--*/
@media screen and (max-width: 460px){
  .container{
    margin: 10px;
    padding: 10px;
  }
  .subforum-row{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 65% 35%;
  }
}
/*--END--*/

/*--FORUM INFO--*/
.forum-info{
  padding: 10px;
  padding-left: 50px;
  background-color: #111314;
}
.chart{
  font-size: 20px
}
/*--END--*/

/*--FOOTER--*/
footer{
  margin-top: 20px;
  padding: 20px;
  background-color: #52057b;
  display: block;
  text-align: center;
}
/*--END--*/

/*####################################################""""""""""""*/
/* POSTS.HTML */

.table-head{
  display: flex;

}
.table-head div{
  padding: 5px;
  margin: 5px;
  margin-top: 20px;
  background-color: #2c2c2c;
  font-weight: bold;
}
.table-head .status {
  flex: 5%;
}
.table-head .subjects{
  flex: 70%;
}
.table-head .replies{
  flex: 10%;
}
.table-head .last-reply{
  flex: 15%;
}

/*table body*/
.table-row{
  display: flex;
}
.table-row .status, .table-row .subjects, .table-row .replies,  .table-row .last-reply{
  padding: 5px;
  margin: 5px;
  background-color: #131415;
  border-radius: 5px;
}
.table-row .status{
  flex:5%;
  font-size: 30px;
  text-align: center;
}
.table-row .subjects{
  flex: 70%
}
.table-row .replies{
  flex: 10%;
}
.table-row .last-reply{
  flex: 15%;
}

/*PAGINATION*/
.pagination{
  padding:  20px;
  font-size: 15px;
}
.pagination a{
  color: #fff;
  margin-inline:5px ;
  padding: 5px 10px;
  border: solid 0.5px #fefefe;
}
.pagination a:hover{
  opacity: 0.5;
}

/*NAVIGATION*/
.navigate{
  margin: 20px;
  font-weight: lighter;
  font-size: 24px;
}
.navigate a{
  color: #fff;
}
.navigate a:hover{
  color:#E7A6EF;
  font-weight: bolder;
}

/*Status Notes*/
.note{
  padding: 20px;
  background-color: #111314;
  display:block;
}
.note i{
  font-size: 20px;
  margin: 5px;
}

/*####################################################""""""""""""*/
/* forum.detail.HTML */
.head{
  display: flex;
  background-color: #2C2C2C;
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
}
.authors{
  flex: 20%;
}
.content{
  flex: 80%;
}
.body{
  display: flex;
  background-color: #131415;
  padding: 10px;
  margin-top: 5px;
}
.body .authors .username{
  font-size: 20px;
}
.body .authors img{
  max-width: 70px;
  max-height: 100px;
}
.body .content .comment button{
  border:none;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
  float: right;
  border-radius: 10px;
}
.body .content .comment button:hover{
  background-color: #000000;
  color: #fff;
  transition: 0.3s;
}
/*comment box*/
.comment-area{
  margin-top:50px;
  background-color: #131415;
  padding: 10px
}
.comment-area textarea{
  width: 90%;
  min-height: 50px;
  padding: 10px;
  margin: 10px;
}
.comment-area input{
  float: right;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.comment-area input:hover{
  background-color: #000000;
  color: #fff;
  transition: 0.3s;
}

.comments-container{
  margin-top: 50px;
}
.reply-area{
  margin-top:50px;
  background-color: #131415;
  padding: 10px
}
.reply-area textarea{
  width: 90%;
  min-height: 50px;
  padding: 10px;
  margin: 10px;
}
.reply-area input{
  float: right;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.reply-area input:hover{
  background-color: #000000;
  color: #fff;
  transition: 0.3s;
}
